.*.*
.*
video_to_gif/
*.ini
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.run.xml
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.idx
*.pytxcode
*.pyc
*.bak
*.fdb_latexmk
*.fls
.venv/
__pycache__/
.texpadtmp

tex/hydraulic-fracturing-2021/Screenshots/
tex/hydraulic-fracturing-2021/HF_slides.pdf


!.gitignore
